body {
    background-color: #2541B2;
    font-family: 'Montserrat';
}
button {
    background-color: #2C71B8;
    color: #FFFFFF;
}
table {
    width: 100%;
    margin: 5%;
}


.icon {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 1.5rem;
    color: white;
    visibility: hidden;
}

.square {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.square-pressed {
    background-color: #FFCB05;
}

.square:hover {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    background-color: white;
}
.pokemon-name {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    text-align: center; 
    font-size: 1rem; 
    color: #FFFFFF; 
}
.pokemon-img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    margin: auto;
}

.pokemon-stats {
    text-align: start;
}

.pokemon-types {
    text-align: center;
}

.pokemon-stats-base {
    text-align: end;
}

.view-img {
    width: 50%;
}
.pokemon-view {
    margin-top: 5%;
    margin-bottom: 5%;
    position: static;
}

.pokemon-data {
    margin-top: 5%;
}

.favourite-icon {
    font-size: 2rem;
    color: black;
    margin-top: 2.5%;
    margin-bottom: 10%;
}

.icon-pressed {
    font-size: 2rem;
    color: red;
    margin-top: 2.5%;
    margin-bottom: 10%;
}

#viewer {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    overflow-y: scroll;
}

#buttons {
    padding-left: 15px;
    width: 100%;
    padding-top: 15px;
}


#topNavBar .nav-link {
    color: #FFFFFF;
}
#topNavBar .nav-link:hover {
    color: #FFCB05;
    cursor: pointer; 
}

#bottomNavBar .btn {
    background-color: #2C71B8;
    color: #FFFFFF;
}

#bottomNavBar .btn:hover {
    background-color: #21386E;
}

#prev-btn {
    display: none;
}
#next-btn {
    display: none;
}
#logo {
    cursor: pointer;
}
