body {
    background-color: #2541B2;
    font-family: 'Montserrat';
}
button {
    background-color: #2C71B8;
    color: #FFFFFF;
}

.square {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: white;
    position: relative;
}
.text {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    text-align: center; 
    font-size: .75rem; 
    color: black; 
}
.pokemon-img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}


#topNavBar .nav-link {
    color: #FFFFFF;
}
#topNavBar .nav-link:hover {
    color: #FFCB05;
    font-size: 1.25rem;
}

#bottomNavBar .nav-link {
    color: #FFFFFF;
}

#bottomNavBar .nav-link:hover {
    color: #FFCB05;
    font-size: 1.25rem;
}
